* {
  box-sizing: border-box;
}
/* html {
        height: 100%;
      } */
body {
  background-image: repeating-linear-gradient(
    45deg,
    rgb(249, 249, 249) 0px,
    rgb(249, 249, 249) 109px,
    rgb(234, 234, 234) 109px,
    rgb(234, 234, 234) 218px,
    rgb(242, 242, 242) 218px,
    rgb(242, 242, 242) 327px
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  /* background: #3662a5 url("room_bc.jpg") no-repeat center/cover; */
  /* background-image: linear-gradient(45deg, #ff618c, #ab58e8); */
  /* background-color: rgba(88, 236, 88, 0.877); */
}

.container {
  position: relative;
  /* border-right: 2px solid blueviolet;
        border-left: 2px solid royalblue; */
  /* height: 100vh; */
  min-width: 400px;
  width: 50%;
  margin: auto;
  /* background-color: rgba(245, 243, 243, 0.924); */
  background-image: linear-gradient(
      135deg,
      rgba(159, 159, 159, 0.46) 0%,
      rgba(159, 159, 159, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 100.002%
    ),
    linear-gradient(
      45deg,
      rgb(252, 252, 252) 0%,
      rgb(252, 252, 252) 14.286%,
      rgb(246, 246, 246) 14.286%,
      rgb(246, 246, 246) 28.572%,
      rgb(241, 241, 241) 28.572%,
      rgb(241, 241, 241) 42.858%,
      rgb(235, 235, 235) 42.858%,
      rgb(235, 235, 235) 57.144%,
      rgb(229, 229, 229) 57.144%,
      rgb(229, 229, 229) 71.43%,
      rgb(224, 224, 224) 71.43%,
      rgb(224, 224, 224) 85.716%,
      rgb(218, 218, 218) 85.716%,
      rgb(218, 218, 218) 100.002%
    );
  /* background-image: linear-gradient(45deg, #e858c8, lightblue); */
}
#mssz-container {
  padding-top: 70px;
  min-height: 600px;
  padding-bottom: 70px;
}
#input-container {
  position: fixed;
  bottom: 0;
  padding: 15px 20px;
  min-width: 400px;
  width: 50%;
  background-image: linear-gradient(
      161deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 50.001000000000005%,
      rgba(5, 5, 5, 0.02) 50.001%,
      rgba(5, 5, 5, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 83.33500000000001%,
      rgba(211, 211, 211, 0.02) 83.335%,
      rgba(211, 211, 211, 0.02) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 71.42999999999999%,
      rgba(63, 63, 63, 0.02) 71.43%,
      rgba(63, 63, 63, 0.02) 85.71600000000001%,
      rgba(87, 87, 87, 0.02) 85.716%,
      rgba(87, 87, 87, 0.02) 100.002%
    ),
    linear-gradient(
      337deg,
      rgba(142, 142, 142, 0.02) 0%,
      rgba(142, 142, 142, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 100%
    ),
    linear-gradient(
      314deg,
      rgba(187, 187, 187, 0.02) 0%,
      rgba(187, 187, 187, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(
      300deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 100%
    ),
    linear-gradient(
      6deg,
      rgba(31, 31, 31, 0.02) 0%,
      rgba(31, 31, 31, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 100%
    ),
    linear-gradient(
      279deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 71.42999999999999%,
      rgba(4, 4, 4, 0.02) 71.43%,
      rgba(4, 4, 4, 0.02) 85.71600000000001%,
      rgba(50, 50, 50, 0.02) 85.716%,
      rgba(50, 50, 50, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(124, 124, 124, 0.03) 0%,
      rgba(124, 124, 124, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 100%
    ),
    linear-gradient(
      329deg,
      rgba(35, 35, 35, 0.02) 0%,
      rgba(35, 35, 35, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 100%
    ),
    linear-gradient(90deg, hsl(314, 0%, 31%), hsl(314, 0%, 31%));
  /* background-color: #1f1e1ef5; */
}
#input {
  height: 40px;
  width: 87%;
  border-radius: 20px;
  padding-left: 15px;
}
#input:focus {
  outline: none;
}
#btn {
  height: 40px;
  margin-left: 6px;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: rgb(56, 190, 51);
  font-size: 0.9rem;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px black; */
}
.mszz_span_cls_other {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  /* box-shadow: 0 1px 6px grey; */
}
/* .mszz_div_cls_you,
      .mszz_div_cls_other {
        height: fit-content;
      } */
.mszz_div_cls_you {
  display: flex;
  justify-content: flex-end;
}
.mszz_div_cls_other {
  display: flex;
  justify-content: flex-start;
}
.mszz_span_cls_you {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(100, 212, 100);
  color: white;
  margin-bottom: 10px;
  margin-right: 30px;
}

/* .arrow_cls_you {
        position: absolute;
        border-radius: 0px;
        width: 16px;
        height: 16px;
        transform: rotate(30deg);
        top: 2.3px;
        right: -4px;
        background-color: rgb(100, 212, 100);
      } */

.head {
  z-index: 2;
  position: fixed;
  top: 0;
  min-width: 400px;
  width: 50%;
  background-image: linear-gradient(
      161deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 50.001000000000005%,
      rgba(5, 5, 5, 0.02) 50.001%,
      rgba(5, 5, 5, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 83.33500000000001%,
      rgba(211, 211, 211, 0.02) 83.335%,
      rgba(211, 211, 211, 0.02) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 71.42999999999999%,
      rgba(63, 63, 63, 0.02) 71.43%,
      rgba(63, 63, 63, 0.02) 85.71600000000001%,
      rgba(87, 87, 87, 0.02) 85.716%,
      rgba(87, 87, 87, 0.02) 100.002%
    ),
    linear-gradient(
      337deg,
      rgba(142, 142, 142, 0.02) 0%,
      rgba(142, 142, 142, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 100%
    ),
    linear-gradient(
      314deg,
      rgba(187, 187, 187, 0.02) 0%,
      rgba(187, 187, 187, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(
      300deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 100%
    ),
    linear-gradient(
      6deg,
      rgba(31, 31, 31, 0.02) 0%,
      rgba(31, 31, 31, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 100%
    ),
    linear-gradient(
      279deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 71.42999999999999%,
      rgba(4, 4, 4, 0.02) 71.43%,
      rgba(4, 4, 4, 0.02) 85.71600000000001%,
      rgba(50, 50, 50, 0.02) 85.716%,
      rgba(50, 50, 50, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(124, 124, 124, 0.03) 0%,
      rgba(124, 124, 124, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 100%
    ),
    linear-gradient(
      329deg,
      rgba(35, 35, 35, 0.02) 0%,
      rgba(35, 35, 35, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 100%
    ),
    linear-gradient(90deg, hsl(314, 0%, 31%), hsl(314, 0%, 31%));
  /* background-color: #212227f5; */
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}
.circle {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: cornflowerblue;
  border-radius: 50%;
  border: 2px solid lightgray;
}
.head p {
  margin: 0;
  font-size: 1.3rem;
  color: white;
  /* font-weight: bold; */
  margin-top: 8px;
}
