<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home ChatApp</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input
          type="text"
          class="name"
          name="name"
          placeholder="Your Name"
        /><br />
        <input
          type="password"
          class="name"
          name="password"
          placeholder="Password"
        /><br />
        <button type="submit" id="login">Login</button><br />
        <a href="/">Don't have an account signUp</a>
      </form>
    </div>
  </body>
</html>
